@import "tailwindcss";

@theme {
  --color-surface: #0f1117;
  --color-accent: #10b981;

  --font-sans: "InterVariable", system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}
body {
  background: var(--color-surface);
  color: #e5e7eb; /* slate-200 */
  font-family: var(--font-sans);
}

/* dark scroll bar */
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: 9999px;
}
